<h1>Clientes </h1>
<div class="notice">
  <%= notice %>
</div>
<%= link_to 'Registrar novo cliente', new_customer_path %>
<%= form_with url: search_customers_path, method: :get do |f| %>
  <%= f.label :q, 'Busca' %>
  <%= f.search_field :q %>
  <%= f.submit 'Buscar' %>
<% end %>
<table>
    <thead>
    <tr>
        <th>Nome</th>
        <th>CPF</th>
        <th>Email</th>
    </tr>
    </thead>
    <tbody>
    <% @customers.each do |c| %>
      <tr id="customer-<%= c.id %>">
          <td><%= c.name %></td>
          <td><%= c.document %></td>
          <td><%= c.email %></td>
          <td><%= link_to 'Ver Detalhes', c, id: "details-#{c.id}" %></td>
      </tr>
    <% end %>
    </tbody>
</table>