<h1>Locações</h1>

<%= link_to 'Registrar nova locação', new_rental_path %>

<%= form_with url:search_rentals_path, method: :get  do |f| %>
  <%= f.label :q, 'Código' %>
  <%= f.text_field :q %>
  <%= f.submit 'Buscar' %>
<% end %>
<% @rentals.each do | r | %>
<dl>
  <dt>Código:</dt>
  <dd><%= r.code %></dd>
  <dt>Data de início:</dt>
  <dd><%= l r.start_date %></dd>
  <dt>Data de término:</dt>
  <dd><%= l r.end_date %></dd>
  <dt>Cliente:</dt>
  <dd><%= r.customer.name %></dd>
  <dt>Categoria:</dt>
  <dd><%= r.carcategory.name %></dd>
</dl>
<%end %>