<h1>Editar <%= @carcategory.name%></h1>

<% @carcategory.errors.full_messages.each do |message| %>
  <p><%= message %></p>
<%end%>
<%= form_with model: @carcategory, local: true do |c|%>
  <%= c.label :name, 'Nome' %>
  <%= c.text_field :name %>
  <%= c.label :daily_rate, 'Diária' %>
  <%= c.number_field :daily_rate %>
  <%= c.label :car_insurance, 'Seguro do carro' %>
  <%= c.number_field :car_insurance %>
  <%= c.label :third_part_insurance, 'Seguro contra terceiros' %>
  <%= c.number_field :third_part_insurance %>
  <%= c.submit 'Enviar' %>
<%end%>
