<h1><%= @carcategory.name %></h1>
<p><%= @carcategory.daily_rate %></p>
<p><%= @carcategory.car_insurance %></p>
<p><%= @carcategory.third_party_insurance %></p>
<%= link_to 'Editar', edit_carcategory_path(@carcategory) %> 
<h3>Modelos de carro</h3>
<% @carcategory.car_models.each do |car_model| %>
  <%= link_to car_model.name, car_model %>
<% end %>
<%= link_to 'Voltar', carcategories_path %>